*.aux
*.log
*.out
*.synctex.gz
*.toc
*.ipynb_checkpoints
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.run.xml
/py-kalman/fig.pdf
/verilog/src
/aims/aims.pdf
/interim-report/interim-report.pdf
/final-report/final-report.pdf
